body{
background:#fff;
text-align:center;
color: #333;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
font-family: Arial,Tahoma,Dotum,Helvetica, sans-serif;
}

/*图片轮播*/
#advsheadlb {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#advsheadlb .advsheadlbpic {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; DISPLAY: none; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
/*图片轮播*/


/*菜单*/
#menumain {
	MARGIN: 0px; WHITE-SPACE: nowrap;  HEIGHT: 40px; OVERFLOW: hidden
}
#menumain .mainmenuiner {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; MARGIN: 0px 0px 0px 158px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 40px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#menumain A.menumain:link {
	TEXT-ALIGN: center; MARGIN: 0px 0px 0px -1px; WIDTH: 100px; DISPLAY: block; FONT: 14px/41px 'Microsoft YaHei','SimSun',Arial,Sans-Serif; BACKGROUND: url(/inc/pics/menu.jpg) no-repeat 0px 0px; FLOAT: left; HEIGHT: 40px; COLOR: #fff; TEXT-DECORATION: none; 
}
#menumain A.menumain:active {
	TEXT-ALIGN: center; MARGIN: 0px 0px 0px -1px; WIDTH: 100px; DISPLAY: block; FONT: 14px/41px 'Microsoft YaHei','SimSun',Arial,Sans-Serif; BACKGROUND: url(/inc/pics/menu.jpg) no-repeat 0px 0px; FLOAT: left; HEIGHT: 40px; COLOR: #fff; TEXT-DECORATION: none
}
#menumain A.menumain:visited {
	TEXT-ALIGN: center; MARGIN: 0px 0px 0px -1px; WIDTH: 100px; DISPLAY: block; FONT: 14px/41px 'Microsoft YaHei','SimSun',Arial,Sans-Serif; BACKGROUND: url(/inc/pics/menu.jpg) no-repeat 0px 0px; FLOAT: left; HEIGHT: 40px; COLOR: #fff; TEXT-DECORATION: none
}
#menumain A.menumain:hover {
	TEXT-ALIGN: center; MARGIN: 0px 0px 0px -1px; WIDTH: 100px; DISPLAY: block; FONT: 14px/41px 'Microsoft YaHei','SimSun',Arial,Sans-Serif; FLOAT: left; HEIGHT: 40px; COLOR: #fff; TEXT-DECORATION: none
}

/*页脚菜单*/

DIV#bottommenu {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 11px/28px SimSun; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 28px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DIV#bottommenu A:link {
	MARGIN: 0px 5px 0px 2px; FONT: 12px/28px 'SimSun',Arial,Sans-Serif; COLOR: #fff; TEXT-DECORATION: none
}
DIV#bottommenu A:visited {
	MARGIN: 0px 5px 0px 2px; FONT: 12px/28px 'SimSun',Arial,Sans-Serif; COLOR: #fff; TEXT-DECORATION: none
}
DIV#bottommenu A:active {
	MARGIN: 0px 5px 0px 2px; FONT: 12px/28px 'SimSun',Arial,Sans-Serif; COLOR: #fff; TEXT-DECORATION: none
}
DIV#bottommenu A:hover {
	MARGIN: 0px 5px 0px 2px; FONT: 12px/28px 'SimSun',Arial,Sans-Serif; COLOR: #fff; TEXT-DECORATION: underline
}


/*滚动图片*/
.jCarouselLite {display:block;float:left;width:740px; margin-left:20px;padding:0px;}
.jCarouselLite ul{list-style:none;display:block;float:left; margin-left:0px;padding:0px;}
.jCarouselLite li{font-size: 9pt;display:block;float:left;width:145px;padding:0px;text-align:center;}
.next{font-size: 9pt;color: #494949;text-decoration: none;cursor:pointer}
.prev{font-size: 9pt;color: #494949;text-decoration: none;cursor:pointer}

/* RoundedCorner*/

div.RoundedCorner{background: #fff; width:200px;} 
b.rtop, b.rbottom{display:block;background: #FFFFFF;} 
b.rtop b{display:block;height: 2px;overflow: hidden; background: #E5E5E5} 
b.rbottom b{display:block;height: 1px;overflow: hidden; background: #E5E5E5} 
b.r1{margin: 0 5px} 
b.r2{margin: 0 3px;border-width:0 2px;} 
b.r3{margin: 0 2px;} 
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px;background: #D9D9D}

/* end RoundedCorner*/


.clear {
	clear: both;
}

/*----clearfix----*/

.clearfix:after {content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;  }

. {display: inline-block;min-height:1%;} 
.clearfix{
  zoom:1;
}

/* Hides from IE-mac \*/
 * html .clearfix {height: 1%;} .clearfix {display: block;}
/* End hide from IE-mac */
/*字体*/
.txt {font-size: 9pt;color: #494949;text-decoration: none;line-height: 20px;text-align:left;}
.txt_01 {font-size: 8pt;color: #949494;text-decoration: none;text-align:left;}
.txt_02 {font-size: 8pt;color: #FFB50C;text-decoration: underline;text-align:left;}
.txt_03 {font-size: 8pt;color: #ff790d;text-align:left;text-decoration: none; font-weight:bold}
.txt_title {font-size: 12pt;color: #494949;text-decoration: none;line-height: 20px;text-align:center; font-weight:bold}

.link_01 {	font-size: 9pt;	color: #FF9999;	text-decoration: none;	font-weight: normal;}
a.link_01:hover {  color: #FF9999; text-decoration: underline}
.link_02 {font-size: 9pt;color: #52A155;text-decoration: none;line-height: 20px;text-align:left;}
a.link_02:hover {background: #FFF4F4;text-decoration: none;font-size: 10pt;color: #494949;}
.link_03 {font-weight: normal;;color: #949494;text-decoration: none;;text-align:left;}
a.link_03:hover {text-decoration: none;}
.link_04 {font-size: 9pt;font-weight: normal;;color: #949494;text-decoration: none;;text-align:left;}
a.link_04:hover {font-size: 9pt;font-weight: normal;color: #A0234F;text-decoration: underline;}
.link_04_1 {font-size: 10pt;font-weight: normal;;color: #FFB50C;text-decoration: underline;;text-align:left;}
a.link_04_1:hover {font-size: 10pt;font-weight: normal;color: #A0234F;text-decoration: underline;}


.link_navi {	font-size: 9pt;	color: #494949;	text-decoration: none;	font-weight: normal;}
a.link_navi:hover {  color: #494949; text-decoration: underline}

.input_01 { COLOR: #494949; BACKGROUND-COLOR: #F7F7F7; font-size: 9pt; border: 1px solid #D1D1D1; } 
.input_02{ COLOR: #7D7D7D; BACKGROUND-COLOR: #FFFFFF; font-size: 9pt; border: 1px solid #8E8E8E; } 
.input_03{ COLOR: #000000; BACKGROUND-COLOR: #d4d0c8; font-size: 9pt;margin:2px 2px 2px 0px;} 

/*search*/
#search{
 margin:0 auto;
 padding:0px;
 width:155px;
 height:19px;
 background-image:url('../pics/searchbg01.gif');
 background-repeat:no-repeat;
 background-position:left top;

}
#search  form{
 width:128px;
 height:19px;
}
#search .txt{
 width:134px;
 height:14px;
}
#btn{
 width:21px;
 height:19px;
 float:left;
 margin-top:1px;
}

#btn a{
 text-decoration:none;
 
}

/*pop*/
#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(images/info.gif);
}

#popup_content.confirm {
	background-image: url(images/important.gif);
}

#popup_content.prompt {
	background-image: url(images/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}
#popup_panelbbs {
	text-align: left;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}


#popup_container.style_1 {
				font-family: Georgia, serif;
				color: #000;
				background: #fff;
				border: solid 5px #A62656;
}
			
#popup_container.style_1 #popup_title {
				color: #494949;
				font-weight: normal;
				text-align: left;
				background: #EAEAEA;
				border: solid 1px #EAEAEA;
				padding-left: 1em;
}
			
#popup_container.style_1 #popup_content {
				background: none;
}
			
#popup_container.style_1 #popup_message {
				padding-left: 0em;text-align: left;
}
#popup_container.style_1 p{
margin-top:10px;
margin-bottom:0px;
vertical-align:middle;
}
			
#popup_container.style_1 INPUT[type='button'] {
				color: #494949;
				background: #cccccc;
}
#scripthiddle {	VISIBILITY: hidden}